#Showcase {

    .shopping-cart {
        position: fixed;
        bottom: 2%;
        right: 2%;
        z-index: 100;
        display: flex;
        justify-content: center;

        a {
            position: relative;
            color: black;
        }

        #ProductCount {
            position: absolute;
            top: 10%;
            left: -60%;
            font-size: 1.5rem;
        }

        img {
            max-width: 50px;
            height: 100%;
        }
    }

    .search {
        height: 2.5rem;
        display: flex;
        align-items: center;
        padding-left: 2rem;
        font-size: 1.3rem;
        font-weight: 600;

        label {
            margin-right: 10px;
        }

        input {
            width: 40%;
            height: 70%;
        }
    }

    .spinner-border {
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
    }

    .products {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        min-height: 500px;

        .product {
            position: relative;
            padding: 1.5rem;

            .no-result {
                font-size: 2rem;
                font-weight: 600;
            }

            &__content {
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;


                .photo {
                    display: flex;
                    justify-content: center;
                    background-color: $mainYellow;
                    border-radius: 20px 20px 0px 0px;
                    width: 100%;

                    img {
                        max-width: 50%;
                        min-height: 215px;
                    }
                }

                .price {
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    top: 10%;
                    right: 18%;
                    font-size: 1.3rem;
                    font-weight: 600;

                    &__value {

                        &__old {
                            text-decoration: line-through;
                            color: red;
                        }
                    }
                }

                .title {
                    font-size: 1.8rem;
                    font-weight: 400;
                    text-align: center;
                }

                .description {
                    padding: 1rem 3rem;
                    min-height: 200px;
                }

                .title, .description {
                    background-color: $mainPink;
                    width: 100%;
                }

                .add-remove-block {
                    @include add-remove-block;
                }
            }
        }
    }
}
