#Cart {
    min-height: 500px;

    #BackBtn {
        position: fixed;
        left: 3%;

        img {
            max-width: 40px;
        }
    }

    #Order {

        .empty {
            @include no-result;
        }

        .separator {
            width: 95%;
            border: 1px solid;
            margin: 12px auto;
        }

        .product-table {
            margin-inline: auto;
            text-align: center;
            max-width: 50%;


            thead {
                font-size: 1.3rem;
                font-weight: 600;
            }

            td {
                padding: 0.8rem;

                img {
                    max-height: 80px;
                    min-width: 100px;
                    max-width: 120px;
                    border-radius: 60px;
                }

                span {
                    font-size: 1.5rem;
                }
            }

            .result-row {
                font-weight: 400;

                td:nth-child(2) {
                    span {
                        display: none;
                    }
                }

                td:last-child {
                    color: red;
                    display: flex;
                    flex-wrap: nowrap;
                    justify-content: center;
                    gap: 5px;
                }
            }

            @media(max-width: 525px) {
                td:nth-child(3),
                td:nth-child(4) {
                    display: none;
                }

                .result-row {
                    td:nth-child(2) {
                        span {
                            display: inline;
                        }
                    }
                }
            }
        }

        .doppings-block {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            padding: 20px;

            .dopping-item {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 10px;

                img {
                    min-width: 180px;
                    max-width: 200px;
                    max-height: 200px;
                    border-radius: 10px;
                }

                .text-content {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    border: 1px solid;
                    width: 100%;
                    font-size: 1.3rem;

                    span {
                        padding: 0.2rem;

                        &.price {
                            font-weight: 600;
                        }
                    }
                }
            }
        }

        .add-remove-block {
            @include add-remove-block;
        }

        #OrderForm {
            width: 40%;
            margin: 3rem auto;

            .order-info {
                display: flex;
                flex-direction: column;
                font-weight: 600;

                input {
                    border-radius: 7px;
                    border: none;
                }
            }

            #CreateOrderBtn {
                width: 40%;
                margin-top: 1rem;
                border-radius: 10px;
                border: none;

                &:hover {
                    background-color: $mainYellow;
                }

                @media(max-width: 850px) {
                    width: 100%;
                }

                .spinner-border {
                    display: none;
                }
            }
        }
    }
}
