#Cart {
    min-height: 500px;

    #BackBtn {
        position: fixed;
        left: 3%;

        img {
            max-width: 40px;
        }
    }

    #Order {

        .empty {
            @include no-result;
        }

        ul {
            list-style: none;
        }

        .separator {
            width: 95%;
            border: 1px solid;
            margin: 12px auto;
        }

        .doppings-block {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            padding: 20px;

            .dopping-item {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 10px;

                img {
                    max-width: 200px;
                }

                .text-content {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    border: 1px solid;
                    width: 100%;

                    span {
                        padding: 0.2rem;

                        &.price {
                            font-weight: 600;
                        }
                    }
                }
            }
        }

        .add-remove-block {
            @include add-remove-block;
        }
    }
}
