

<div id="Cart">
    <div id="BackBtn">
        <a href="/"> 
        <img src="~/img//back-button.png">
        </a>
    </div>

    <div id="Order">
        <ul>
            <li>
                <div class="product-item">
                    <img>
                    <span class="name"></span>
                    <span class="price"></span>
                </div>
            </li>
        </ul>
        <div class="separator"></div>
        <div class="doppings-block">
            
        </div>
    </div>
</div>