html {
    font-size: $defaultFontSize;

    @media (max-width: 390px) {
        font-size: $mobileFontSize;
    }
}

body {
    margin: 0;
    padding: 0;
    font-family: $defaultFont;
    background-color: $mainPink;

    .container {
        max-width: none;
        width: calc(100% - 3rem);
        padding: 0;

        @media (max-width: 1030px) {
            width: 100%;
        }

        header {
            height: 4rem;
            background-color: $mainYellow;
            border-radius: 15px;
            margin-bottom: 1rem;

            @media (max-width: 1030px) {
                border-radius: 0px;
            }

            .row {
                padding: 0.3rem;
                margin: 0px;
                height: 100%;

                @media (max-width: 390px) {
                    padding: 0.1rem;
                }
            }

            .menu {
                display: flex;
                align-items: center;
                font-weight: 600;

                span {
                    padding: 1rem;
                }

                @media (max-width: 673px) {
                    justify-content: center;

                    span + span {
                        display: none;
                    }
                }
            }
        }

        main {
            background-color: $mainGreen;
            border-radius: 15px;
        }

        .logo {
            &__header {
                background-image: url("https://i.dailymail.co.uk/1s/2021/09/10/16/47755677-9978109-image-m-52_1631288292428.jpg");
                background-repeat: no-repeat;
                background-size: contain;
                min-width: 55px;
            }

            &__footer {
            }
        }
    }
}
